/********************* ESTILOS GENRALES ******************************/

html {
    font-size: 16px;
}

body {
    color: #000;
    font-family: "Playfair Display", serif;
    overflow-x: hidden;
}



h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
    color: rgba(0,148,144,255);
}

h5 {
    font-size: 1.4rem;
    color: brown;
}

p {
    font-size: 1.5rem;
}


.border {
    border: 1px solid #000;
    padding: 50px;
}

i {
    font-size: 2.5rem;
    color: #a5204d;
}

.parrafo2 {
    font-size: 1.2rem;
}

.parrafo3 {
    font-size: 1.0rem;
}

button:hover {
    cursor: pointer;
    color: rgba(40,147,157,255);
    transition: all 3s solid;
}

.titulajes {
    color: #003c5e;
    font-weight: bolder;
    font-size: 40px;
}

.titulo {
    font-size: 80px;
}

.fondo1 {
    background-color: white;
    box-shadow: 1px 1px 1px #fff;
}

.fondo2 {
    background-color: #d6dbe3;
    border-radius: 30px;
    box-shadow: 5px 5px 8px #fff;
    padding-bottom: 50px;
    padding-top: 50px;
}

/*.fondo3 {
    color: rgba(0,148,144,255);
}*/


/********************* ESTILOS BOTONES ******************************/

.btnentrada {
    cursor: pointer;
    background-color: #928372;
    width: 200px;
    height: 60px;
    border: 3px solid #e4e4e4;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 15px 50px;
    text-decoration: none;
    transition: linear 0.5s;
}

.btnentrada:hover {
    width: 200px;
    height: 60px;
    background-color: #e4e4e4;
    color: #000;
    border: 3px solid #0b3e64;
    text-decoration: none;
    padding: 15px 50px;
    font-size: 2.2rem;
    transition: linear 0.5s;
}

.goto-top {
    position: fixed;
    bottom: 30px;
    left: 20px;
    width: 75px;
    height: 50px;
}


/*TARJETAS*/

.card-title {
    font-weight: bolder !important;
}

.card p {
    font-size: 18px;
}


/*MEDIAS QUERYS*/

@media (max-width:575px) {
}

@media (min-width:576px) {

}

@media (min-width:768px) {

}

/*********************  MENU NAV ******************************/

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 5px;
    color: #000;
    font-family: 'reboto', sans-serif;
    font-size: 14px;
}

.optmenu {
    font-family: 'reboto', sans-serif;
    font-size: 14px;
    transition: all 1s solid;
    color: black;
}

.optmenu:hover {
    color: white;
    background-color: rgba(40,147,157,255);
    transition: all 1s solid;
}

.optmenu:active {
    background-color: brown;
}

/* PERSONALIZACION MENU HAMBURGUESA */

.navbar-toggler {
    background-color: #d6dbe3;
    border: 3px solid #fff;
    border-radius: 10px;
}

.navbar-toggler:hover {
    background-color: #d6dbe3;
}

.custom-toggler .navbar-toggler {
    background-color: #fff;
}

/* PERSONALIZACION LINEAS DEL MENU HAMBURGUESA */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(40,147,157,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}         
.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}   




/*********************  ENCABEZADO BANNER WEB INICIAL ******************************/

.banner-section {
    display: flex;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    /*control altura del banner*/
    height: calc(100vh 100vh);
    background-position: center;
    background-image: url('../imagenes/banner2.jpg');
    background-color: rgba(0,148,144,255);
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.banner-section2 {
    display: flex;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    /*control altura del banner*/
    height: calc(100vh);
    background-position: center;
    background-image: url('../imagenes/banner2.jpg');
    background-color: rgba(0,148,144,255);
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.banner2 {
    background-image: url('../imagenes/newYork1.jpeg');
    background-size: cover;
    height: calc(40vh);
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
}

.banner3 {
    background-image: url('../imagenes/paris1.webp');
    background-size: cover;
    height: calc(40vh);
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
}

.banner4 {
    background-image: url('../imagenes/costaRica1.jpeg');
    background-size: cover;
    height: calc(40vh);
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    border-radius: 50px;
}

.espacio {
    padding: 120px 0;
}

.espacios {
    margin-top: 100px;
    margin-bottom: 100px;
}

.espacio2 {
    padding: 140px 0;
}

.linea {
    margin: 5rem 0;
}

.bannerparallax {
    display: flex;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    /*control altura del banner*/
    height: calc(60vh);
    background-position: center;
    background-image: url('../imagenes/paris1.webp');
    background-color: rgba(0,148,144,0);
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    animation: a 5s alternate;
}

@keyframes a {
    0% {
        background-image: url('../imagenes/paris1.webp');
    }
    100% {
        background-image: url('../imagenes/costaRica1.jpeg');
    }
}

/*formulario*/

label {
    color: #000;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bolder;
    float: left;
}


/* Para agregar un borde cuando se activan los campos */

input:hover {
    outline: 3px solid rgba(0,148,144,255);
}

textarea:hover {
    outline: 3px solid rgba(0,148,144,255);
}


/* Propiedades de los campos */

input,
textarea {
    cursor: pointer;
    background-color: #e2e2e2 !important;
}


/* Propiedades de los botones */

.enviar {
    width: 170px;
    height: 60px;
    color: #fff;
    margin: 0 auto;
    font-size: 26px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px;
    border-width: 2px;
    background-color: rgba(0,148,144,255) !important;
}

.enviar:hover {
    background-color: #fff;
    color: white;
    transition: 0.2s;
}

.borrar {
    color: #fff;
    width: 170px;
    height: 60px;
    margin: 0 auto;
    font-size: 26px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 20px;
    border-width: 2px;
    background-color: rgba(0,148,144,255) !important;
}

.borrar:hover {
    background-color: #fff;
    color: white;
    transition: 0.2s;
}


/* validacion campo TextArea */

textarea {
    resize: none;
    /*
  height:150px;
  max-height:150px;
  min-height:150px;
  max-width:auto;
  min-width:400px;*/
}


/*********************  PIE DE PAGINA ******************************/

footer {
    color: rgba(0,148,144,255);
    padding-top: 10px;
    background-color: rgba(0,148,144,255);
}

.color {
    color: white;
}

footer h3 {
    color: #a5204d;
    letter-spacing: 1px;
    margin: 30px 0 20px;
}

footer .copyright {
    color: rgba(0,148,144,255);
    padding: 15px 0;
    margin-top: 20px;
    font-size: 1.3rem;
}

.img5 {
    height:90px; 
    width: 180px;
    cursor: pointer;
}

.img5:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out; 

}

.img4 {
    height:60px; 
    width:60px;
}

.img4:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out; 

}

.img3 {
    height: 50px; 
    width:50px;
}

.img3:hover {
    transform: scale(1.2);
    transition: 0.3s;
}



.img2 {
    height:70px; 
    width: 80px;
    cursor: pointer;
}

.img2:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out; 

}


/********************* MEDIAS QUERYS ******************************/

@media (max-width: 575px) {
    html {
        font-size: 1rem;
    }
    .nav img {
        height: 50px;
        display: block !important;
        margin:0 auto !important; 
        margin-left: 50px;
    }
    .navbar-toggler {
        margin: 0 auto;
    }
    .titulo {
        font-size: 2.5rem;
        margin-top: 150px;
    }
    p {
        font-size: 1.1rem !important;
    }
    .bannerparallax {
        height: calc(100vh);
    }
}





.container-botonws {
    /*color de fondo imagen*/
    background-color: #e4e4e4;
    border: 1px solid #fff;
    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-botonws:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


/*efecto de animación imagen chat*/

.botonws {
    width: 60px;
    transition: ease 1s;
}

@keyframes efecto {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100% {
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}

/*tamaño de flechas*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 80px;
    height: 80px;
    /*fondo de color*/
    /* background-color: #e4e4e4; */
}


/*color de flechas*/
/*cambiar la propiedad fill por # hexadecimal*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/*ICONO WHATSAPP*/

.whatsapp {
    position: fixed;
    z-index: 1000;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    border-radius: 50%;    
    line-height: 20px;    
    font-size: 60px;
    text-decoration: none;
    transition: all 1s ease-in;
}

.whatsapp:hover {
    background-color: purple !important;
}

.iconos3 {
    height: 250px;
    width: 250px;
}


/* Estilos Carousel personalizados */
.carousel {
    height: 30vh;
    color: black;
}

.carousel-item {
height: 100%;
color: black;
}

.carousel-item img {
object-fit:contain;

}

.carousel-control-prev, .carousel-control-next {
width: 200%;
}

/************ TESTIMONIAL  ***************/

.testimonials.owl-carousel .owl-item img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto;
}


/*flechas*/

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    font-size: 80px;
}

.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: transparent;
    color: #000;
}

.owl-carousel .owl-nav button.owl-next:hover {
    background-color: transparent;
    color: #000;
}

.item {
    background: #00469b;
    border: 1px solid #eee;
    border-color: #000;
    border-radius: 12px;
    padding: 15px;
    /*cursores web: https://www.w3schools.com/cssref/pr_class_cursor.asp*/
    /*permite mover los recuadros*/
    cursor: move;
}

.item h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin: 15px 0;
    line-height: 1.3;
    color: yellowgreen;
}

.item p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    /* margin-bottom: 10px;*/
    line-height: 1.3;
    color: #fff;
}

.testimonials_container {
    display: flex;
    /*padding: 16px;*/
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.owl-item {
    text-align: center;
}

/*   NUEVA SECCION AGREGADA  */

.container-fluid3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-fluid4 {
    padding-top: 140px;
    padding-bottom: 140px;
}

.container-fluid5 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.titulo3 {
    color: #000;
    font-size: 50px;
}

.efecto1 img {
    transition: all ease-in-out 0.5s;

}
.efecto1:hover img {
    transform: scale(1.1);
}

.banner2 {
    background-image: url("../imagenes/travel-min.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* crear animacion keyframe poniendole un nombre (d) */
    animation: d 2s ease infinite alternate;
}

@keyframes d {
    0% {
        /* posicion x y */
        background-position: 0 0;
    }
    100% {
        background-position: -50px 0;
    }
}

.banner3 {
    background-image: url("../imagenes/travel-min.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* crear animacion keyframe poniendole un nombre (d) */
    animation: h 2s ease infinite alternate;
}

@keyframes h {
    0% {
        /* posicion x y */
        background-position: 0 0;
    }
    100% {
        background-position: -50px 0;
    }
}

.banner4 {
    background-image: url("../imagenes/travel-min.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* crear animacion keyframe poniendole un nombre (d) */
    animation: g 2s ease infinite alternate;
}

@keyframes g {
    0% {
        /* posicion x y */
        background-position: 0 0;
    }
    100% {
        background-position: -50px 0;
    }
}

.titulo2 {
    font-size: 40px;
    color: #fff;
}

.titulo3 {
    color: #000;
    font-size: 50px;
}